<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Simply Somm</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/base.css" type="text/css" />
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap" rel="stylesheet">		<script src="/js/whiskey.js"></script>
		
	</head>
	<body>
		{{{ body }}}
	<footer>Made with ❤️</footer>
	</body>
</html>