<nav class="navbar">
      <a class="navbar-text text-center" href="#" id="nav">Simply Somm</a>
    </nav>

    <container>
      <div class="row" id="landing">
        <div id="whiskey" class="col-md">
          <img src="./assets/whiskey.jpg" id="whiskeyimg" />
          <button type="button" class="btn btn-outline-light" id="whiskeylink">
            <a href="/whiskey">Whiskey</a>
          </button>
        </div>

        <div id="wine" class="col-md">
          <img src="./assets/wine.jpeg" id="wineimg" />
          <button type="button" class="btn btn-outline-light" id="winelink">
            <a href="/wine">Wine</a>
          </button>
        </div>
      </div>
    </container>