<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand text-center" href="#" id="nav">Simply Somm</a>
</nav>

<container>
    <div id="whiskey-landing" class="col-md">
        <img src="./assets/whiskey.jpg" id="whiskeyimg" />
        <div id="search-container">
            <h2 class="search-title">Find a Whiskey</h2>
            <form>
                <div class="form-group">
                    <small class="form-text text-muted search-criteria">Find a whiskey by flavour profile, aroma
                        profile, or both!</small>
                    <label for="taste">Taste</label>
                    <input type="text" class="form-control" id="taste" />
                </div>
                <div class="form-group">
                    <label for="aroma">Aroma</label>
                    <input type="text" class="form-control" id="aroma" />
                </div>
                <button type="submit" class="btn btn-primary submit">
                    Find your wines!
                </button>
            </form>
        </div>
    </div>
</container>