<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand text-center" href="/" id="nav">Simply Somm</a>
</nav>

<container>
    <div id="whiskey-landing" class="col-md">
        <img src="./assets/whiskey.jpg" id="whiskeyimg" />
        <div id="search-container">
            <form>
            <h2 class="search-title">Find a Whiskey</h2>
                <div class="form-group">
                    <small class="form-text search-criteria">Find a whiskey by flavour profile, aroma
                        profile, or both!</small>
                    <label for="taste">Taste</label>
                    <select class="form-control" id="taste">
                        <option value="1">Spice</option>
                        <option value="2">Sweet</option>
                        <option value="3">Fruit</option>
                        <option value="4">Floral</option>
                        <option value="5">Grain</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="aroma">Aroma</label>
                    <select class="form-control" id="aroma">
                        <option value="1">Spice</option>
                        <option value="2">Sweet</option>
                        <option value="3">Fruit</option>
                        <option value="4">Floral</option>
                        <option value="5">Woody</option>
                        <option value="6">Grain</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary submit">
                    Find your whiskeys!
                </button>
            </form>
        </div>
    </div>
</container>
  <script type="text/javascript" src="/js/whiskey.js"></script>
