<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand text-center" href="#" id="nav">Simply Somm</a>
</nav>

<container>
    <div id="whiskey-landing" class="col-md">
        <img src="./assets/whiskey.jpg" id="whiskeyimg" />
        <div id="search-container">
            <h2 class="search-title">We think you would enjoy these bottles!</h2>
            {{#each drinks}}
            
            {{/each}}
        </div>
    </div>
</container>