<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand text-center" href="#" id="nav">Simply Somm</a>
</nav>

<container>
    <div id="wine-landing" class="col-md">
        <img src="./assets/wine.jpeg" id="wineimg" />
        <div id="search-container">
            <h2 class="search-title">We think you would enjoy these bottles!</h2>
            {{#each drink}}
            
            {{/each}}
        </div>
    </div>
</container>