body    {
    background-color: black;
    font-family: Helvetica, sans-serif;
}

.navbar-brand {
    display: block;
    width: 100%;
}

#landing    {
display: flex;
}

#whiskey    {
    width: 50%;
    text-align: center;
}

#whiskeyimg    {
width: 100%;
/* object-fit: contain; */
height: 100%;
z-index: 0;
}

#wine    {
    width: 50%;
    text-align: center;
}

#wineimg    {
    object-fit: contain;
    width: 100%;
    z-index: 0;
}

#wine-landing, #whiskey-landing   {
    width: 100%;
    text-align: center;
}

form    {
    color: white;
    width: 40%;
    opacity: 1;
    margin: 40px;
}


a   {
    color: white;
    font-size: 40px;
    z-index: 50;
    
}

a:hover {
    text-decoration: none;
    color: black;
}

button  {
    padding: 10px;
}

button:hover {
    background-color: black;
}

#whiskeylink    {
    position: absolute;
    top: 50%;
    left: 50%;
}

#winelink    {
    position: absolute;
    top: 50%;
    left: 50%;
}

#search-container   {
    background-color: black;
    opacity: .7;
    position: absolute;
    top: 5%;
    left: 10%;
    z-index: 50;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.search-title   {
    color: white;
    opacity: 1;
    top: 30%;
    margin: 15px;
}

.search-criteria    {
    margin: 10px;
}

label   {
    margin: 10px;
}

.submit {
    margin: 15px;
}