body    {
    background-color: black;
    font-family: 'Comfortaa', cursive;
}

.navbar{
    background-color: black;
}

.navbar-text {
    display: block;
    width: 100%;
    font-size: 40px;
    color: whitesmoke;
}

.navbar-text:hover  {
    color: goldenrod;
}

#landing    {
display: flex;
}

#whiskey    {
    width: 50%;
    text-align: center;
}

#whiskeyimg    {
width: 100%;
height: 100%;
z-index: 0;
max-height: 835px;
}

#wine    {
    width: 50%;
    text-align: center;
}

#wineimg    {
    width: 100%;
    z-index: 0;
    height: 100%;
    max-height: 835px;
}

#wine-landing, #whiskey-landing   {
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wine-landing   {
background-image: url("../assets/wine.jpeg");
min-height: 800px;
background-size: cover;
}

#whiskey-landing   {
    background-image: url("../assets/whiskey.jpg");
    min-height: 800px;
    background-size: cover;
}


form    {
    color: white;
    width: 40%;
    opacity: 1;
    margin: 40px;
    font-size: 25px;
}


a   {
    color: white;
    font-size: 40px;
    z-index: 50;
    
}

a:hover {
    text-decoration: none;
    color: black;
}

button  {
    padding: 10px;
}

button:hover {
    background-color: black;
}

.btn-primary {
    background-color: goldenrod;
    border-color: white;
    padding: 15px;
}

.btn-primary:hover    {
background-color: rgba(246, 210, 2, 0.849);
}

.btn-primary:visited,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:link    {
    background-color: goldenrod;
    border-color: white;
}

#whiskeylink    {
    position: absolute;
    top: 50%;
    left: 40%;
}

#winelink    {
    position: absolute;
    top: 50%;
    left: 40%;
}

#search-container   {
    background-color: black;
    opacity: .8;
    top: 5%;
    left: 10%;
    z-index: 50;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 20px;
}

.search-title   {
    color: white;
    opacity: 1;
    top: 30%;
    margin: 15px;
}

.search-criteria    {
    margin: 10px;
}

label   {
    margin: 10px;
}

.submit {
    margin: 15px;
}

.drink-info {
    display: block;
    opacity: 1;
}

footer  {
    bottom: 0;
    left: 47%;
    text-align: center;
    color: white;
    padding: 10px;
}

.card    {
    margin: 25px;
    padding: 25px
}