<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Simply Somm</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" href="../../../public/stylesheets/base.css" type="text/css" />
		<script src="../../../public/js/index.js"></script>
		
	</head>
	<body>
		{{{ body }}}
	</body>
</html>